@import "sh/vars";

@include font-face('Inder', font-files('Inder.woff', woff));
@include font-face('Asul', font-files('Asul.woff', woff));


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    @include sh-content-font;
    color: $sh-dark-gray;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2 {
    color: $sh-dark-gray;
    margin-right: 0;
    padding: 0;
    border-bottom: 1px solid $sh-lightest-gray;
    margin-top: 2em !important;
    margin-bottom: .5em;
}

h1 {
    font-weight: bold;
    font-size: 1.2em;
    color: $sh-darkest-gray;
}

h2 {
    font-weight: bold;
    font-size: 1.1em;
    color: lighten($sh-darkest-gray, 10%);
}

h3 {
    font-weight: bold;
    font-size: 1em !important;
    color: lighten($sh-darkest-gray, 20%);
    margin: 1.5em 0 1em;
}

h4 {
    font-size: .9em !important;
}

a, h1, h2, h3, h4, h5, h6 {
    @include sh-light-text-shadow;
}

a, a:visited {
    color: $sh-blue;
    text-decoration: none;
}

p {
    line-height: 1.5em;
    color: $sh-black;
    margin-top: 1em;
}

em {
    font-style: italic;
    color: $sh-black;
}

ol {
    padding-left: 3em;

    li {
        list-style-type: decimal;
        color: $sh-black;
    }
}

tt {
    padding: 1px 5px;
    font-size: 0.95em;

    .pre {
        background-color: $sh-lightest-gray;
    }
}

strong {
    font-weight: bold;
}

input[type="text"] {
    @include border-radius(4px);
    background: white;
    border: 1px solid #e2e2e2;
    color: #474747;
    padding: 7px 5px 3px;
    height: 1.3em;

    @include single-box-shadow(rgba(0, 0, 0, 0.05), 1px, 2px, 3px, $default-box-shadow-spread, true);

    &:focus {
        @include single-box-shadow($sh-red, 0px, 0px, 6px);
    }
}

ul, ol {
    margin-bottom: 1em;
    margin-left: 1em;

    li {
        line-height: 1.5em;
    }
}

ul {
    padding: 0;

    li {
        list-style-type: disc;
        padding: .6em 0 0;
        margin-left: 2em;
        color: $sh-black;

        li {
            list-style-type: circle;
        }
    }
}

pre {
    @include sh-box;
    @include fixed-width-font;
    padding: .5em 1em;
    overflow: auto;
    overflow-y: hidden;  /* fixes display issues on Chrome browsers */
    margin: .5em 2em 1em;
}

table {
    width: 100%;
    background-color: white;
    margin: 1em 0;

    th {
        color: black;
        font-weight: bold;
    }

    th, td {
        padding: .4em;
    }

    tbody {
        tr {
            &:nth-child(even) { background-color: $sh-odd; }
            &:nth-child(odd)  { background-color: $sh-even; }
        }
    }

    thead {
        tr {
            th {
                border-bottom: 1px solid $sh-light-gray;
            }
        }
    }

    tfoot {
        tr {
            td {
                border-top: 1px solid $sh-light-gray;
            }
        }
    }

    thead, tfoot {
        tr {
            background-color: $sh-odd !important;
        }
    }
}

dl {
    margin-top: .5em;

    dt {
        color: $sh-darkest-gray;
        font-weight: bold;
    }

    dd {
        margin-top: .3em;
        margin-left: 1.3em;
        margin-bottom: .5em;
    }
}

.pre {
    @include fixed-width-font;
}

.highlight {
    background-color: white !important;
}
