@import "sh/vars";

> ul {
    margin-bottom: 0;

    > li {
        list-style-type: none;
        line-height: 2.2em;
        font-weight: bold;
        margin-left: 0;

        a {
            @include inline-block;
            padding-left: 1.2em;
            color: $sh-dark-gray;

            &.current {
                border-left: 5px solid $sh-red;
                color: $sh-red;
                padding-left: .7em;

                &:hover {
                    color: $sh-red;
                }
            }

            &:hover {
                color: $sh-blue;
                text-decoration: underline;
            }
        }

        > ul {
            > li {
                margin-left: 2em;
                display: block;
                line-height: 2em;
                font-size: $font-size-small;
                font-weight: normal;
                padding: 0;
            }
        }
    }
}
