// Colors
$sidebar-width:                 14em !default;
$header-height:                 4em !default;

$background-start-color:        #dbdbdc !default;
$background-stop-color:         #fdfdfd !default;
$sh-lightest-gray:              #eeeeee !default;
$sh-light-gray:                 #aaaaaa !default;
$sh-dark-gray:                  #666666 !default;
$sh-darkest-gray:               #333333 !default;
$sh-blue:                       #333399 !default;
$sh-black:                      #000000 !default;
$sh-red:                        #e13c4f !default;
$sh-pink:                       #ffd6d8 !default;
$sh-light-text-shadow-color:    #fefefe !default;
$sh-odd:                        #fefefe !default;
$sh-even:                       #f6f6f6 !default;

// Sizes
$font-size-small:   .8em !default;
$font-size:         .9em !default;

$border-radius: .3em;

$content-width: 950px !default;
